/* Brandon Grotesque */
@font-face {
    font-family: "Brandon Grotesque";
    src: url("../Fonts/Brandon Grotesque - Black.otf");
    src: url("../Fonts/Brandon Grotesque - Bold Italic.otf");
    src: url("../Fonts/Brandon Grotesque - Italic.otf");
    src: url("../Fonts/Brandon Grotesque - Light Italic.otf");
    src: url("../Fonts/Brandon Grotesque - Light.otf");
    src: url("../Fonts/Brandon Grotesque - Medium Italic.otf");
    src: url("../Fonts/Brandon Grotesque - Thin Italic.otf");
}
/* Proxima Nova */
@font-face {
    font-family: "Proxima Nova";
    src: url("../Fonts/Proxima Nova.otf");
    src: url("../Fonts/Proxima Nova - Alternate.otf");
}
/* CSS Variables declaration */
:root {
    --BrandonGrotesque: "Brandon Grotesque";
    --ProximaNova: "Proxima Nova";
    --BackgroundColor1: rgb(0, 0, 0);
    --BackgroundColor2: rgb(40, 47, 64);
    --BackgroundColor3: rgb(0, 64, 255);
    --ForegroundColor: rgb(255, 255, 255);
    --TextNeonColor: rgb(0, 255, 255);
    --FormColor1: rgba(0, 0, 0, 0.75);
    --FormColor2: rgba(0, 0, 0, 0.5);
    --GradientColor: rgba(0, 0, 0, 0);
    --Failure: rgb(255, 0, 0);
    --Success: rgb(0, 255, 0);
    --Bold: 700;
    --ExtraBold: 800;
    --Horizontal: 100%;
    --Vertical: 100%;
    --FontSize: 100%;
    --LogoHeight: 41.2px;
    --CanvasHeight: 565px;
    --ParagraphInitialColor: rgba(255, 255, 255, 0.5);
    --SNSLogoHeight: 47.5px;
    --TextAreaHeight: 30px;
    /* Page's styling configurations */
    background-color: var(--BackgroundColor3);
    color: var(--ForegroundColor);
    font-size: var(--FontSize);
    margin: calc(var(--Horizontal) * 0);
    font-family: sans-serif;
}
/* Header */
header {
    color: var(--ForegroundColor);
    display: flex;
    justify-content: space-evenly;
    width: var(--Horizontal);
}
/* Logo */
.Logo {
    width: auto;
    height: var(--LogoHeight);
}
/* Contents */
.Contents {
    width: var(--Horizontal);
}
/* Messages */
.Success {
    color: var(--Success);
    font-size: calc(var(--FontSize) * 2);
    text-align: center;
    font-family: var(--BrandonGrotesque);
}
/* Buttons */
.Button {
    width: var(--Horizontal);
    display: flex;
    justify-content: space-evenly;
}
a {
    font-size: calc(var(--FontSize) * 1.46);
    color: var(--BackgroundColor3);
    background-color: var(--ForegroundColor);
    border: none;
    padding: calc(var(--Vertical) * 0.025) calc(var(--Horizontal) * 0.1);
    font-weight: var(--ExtraBold);
    font-family: var(--ProximaNova);
    text-decoration: none;
    text-transform: uppercase;
}
a:hover {
    color: var(--ForegroundColor);
    background-color: var(--BackgroundColor3);
}
