/* Brandon Grotesque */
@font-face {
    font-family: "Brandon Grotesque";
    src: url("../Fonts/Brandon Grotesque - Black.otf");
    src: url("../Fonts/Brandon Grotesque - Bold Italic.otf");
    src: url("../Fonts/Brandon Grotesque - Italic.otf");
    src: url("../Fonts/Brandon Grotesque - Light Italic.otf");
    src: url("../Fonts/Brandon Grotesque - Light.otf");
    src: url("../Fonts/Brandon Grotesque - Medium Italic.otf");
    src: url("../Fonts/Brandon Grotesque - Thin Italic.otf");
}
/* Proxima Nova */
@font-face {
    font-family: "Proxima Nova";
    src: url("../Fonts/Proxima Nova.otf");
    src: url("../Fonts/Proxima Nova - Alternate.otf");
}
/* CSS Variables declaration */
:root {
    --BrandonGrotesque: "Brandon Grotesque";
    --ProximaNova: "Proxima Nova";
    --BackgroundColor1: rgb(0, 0, 0);
    --BackgroundColor2: rgb(40, 47, 64);
    --BackgroundColor3: rgb(0, 64, 255);
    --ForegroundColor: rgb(255, 255, 255);
    --TextNeonColor: rgb(0, 255, 255);
    --FormColor1: rgba(0, 0, 0, 0.75);
    --FormColor2: rgba(0, 0, 0, 0.5);
    --GradientColor: rgba(0, 0, 0, 0);
    --Failure: rgb(255, 0, 0);
    --Success: rgb(0, 255, 0);
    --Bold: 700;
    --ExtraBold: 800;
    --Horizontal: 100%;
    --Vertical: 100%;
    --FontSize: 100%;
    --LogoHeight: 41.2px;
    --CanvasHeight: 565px;
    --ParagraphInitialColor: rgba(255, 255, 255, 0.5);
    --SNSLogoHeight: 47.5px;
    --TextAreaHeight: 30px;
    /* Page's styling configurations */
    background-color: var(--BackgroundColor3);
    color: var(--ForegroundColor);
    font-size: var(--FontSize);
    margin: calc(var(--Horizontal) * 0);
    font-family: sans-serif;
}
/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-evenly;
    width: var(--Horizontal);
}
.NavigationBar a {
    font-size: calc(var(--FontSize) * 2);
    color: var(--ForegroundColor);
    text-decoration: none;
    font-family: var(--BrandonGrotesque);
    font-weight: var(--ExtraBold);
}
.NavigationBar a:hover {
    text-decoration: underline;
}
/* Logo */
.Logo {
    width: auto;
    height: var(--LogoHeight);
}
/* Sign Up Form */
.SignUp {
    background-color: var(--ForegroundColor);
    width: calc(var(--Horizontal) * 0.7);
    height: calc(var(--Horizontal) * 0.85);
    margin: calc(var(--Vertical) * 0.025) calc(var(--Horizontal) * 0.1)
        calc(var(--Vertical) * 0.01) calc(var(--Horizontal) * 0.1);
    padding: calc(var(--Horizontal) * 0.05);
}
h1 {
    font-size: calc(var(--FontSize) * 2);
    color: var(--FormColor1);
    font-family: var(--ProximaNova);
    font-weight: var(--ExtraBold);
}
p {
    font-size: var(--FontSize);
    color: var(--FormColor2);
}
/* Form: Names + Form: Usernames */
.FullName,
.Usernames {
    display: flex;
}
#FirstName,
#LastName,
#Username,
#Type {
    margin: calc(var(--Vertical) * 0.01) calc(var(--Horizontal) * 0.025);
    width: calc(var(--Horizontal) * 0.475);
    font-size: var(--FontSize);
}
#FirstName,
#Username {
    margin-left: 0;
}
#LastName,
#Type {
    margin-right: 0;
}
#Email,
#Password,
#ConfirmPassword {
    width: var(--Horizontal);
    margin: calc(var(--Vertical) * 0.01) calc(var(--Horizontal) * 0);
    font-size: var(--FontSize);
}
#SignUp {
    font-size: calc(var(--FontSize) * 1.46);
    color: var(--ForegroundColor);
    background-color: var(--BackgroundColor3);
    border: none;
    padding: calc(var(--Vertical) * 0.025) calc(var(--Horizontal) * 0.1);
    font-weight: var(--ExtraBold);
    margin-left: calc(var(--Horizontal) * 0.37);
    font-family: var(--ProximaNova);
}
#LogIn {
    font-size: calc(var(--FontSize) * 1.46);
    color: var(--BackgroundColor3);
    background-color: var(--ForegroundColor);
    border: none;
    padding: calc(var(--Vertical) * 0.0225) calc(var(--Horizontal) * 0.09);
    font-weight: var(--ExtraBold);
    margin-left: calc(var(--Horizontal) * 0.39);
    font-family: var(--ProximaNova);
}
/* Login section */
.LoginSection {
    text-align: center;
    font-family: var(--ProximaNova);
    color: var(--ForegroundColor);
}
.LoginSection a {
    color: var(--ParagraphInitialColor);
}
.LoginSection a:hover {
    color: var(--ForegroundColor);
}
/* Messages */
.Success {
    font-size: calc(var(--FontSize) * 2);
    color: var(--Success);
    text-align: center;
}
.Failure {
    font-size: calc(var(--FontSize) * 2);
    color: var(--Failure);
    text-align: center;
}
/* Media Queries to fit on a screen of a smartphone on portrait mode */
@media screen and (max-width: 360px) {
    .NavigationBar a {
        font-size: calc(var(--FontSize) * 0.86);
    }
    #SignUp {
        margin-left: calc(var(--Horizontal) * 0.24);
    }
    #LogIn {
        margin-left: calc(var(--Horizontal) * 0.26);
    }
}
/* Media Queries to fit on a screen of a smartphone on landscape mode */
@media screen and (max-height: 360px) {
    .NavigationBar a {
        font-size: calc(var(--FontSize) * 1.46);
    }
    #SignUp {
        margin-left: calc(var(--Horizontal) * 0.33);
    }
    #LogIn {
        margin-left: calc(var(--Horizontal) * 0.35);
    }
}
