/* Brandon Grotesque */
@font-face {
    font-family: "Brandon Grotesque";
    src: url("../Fonts/Brandon Grotesque - Black.otf");
    src: url("../Fonts/Brandon Grotesque - Bold Italic.otf");
    src: url("../Fonts/Brandon Grotesque - Italic.otf");
    src: url("../Fonts/Brandon Grotesque - Light Italic.otf");
    src: url("../Fonts/Brandon Grotesque - Light.otf");
    src: url("../Fonts/Brandon Grotesque - Medium Italic.otf");
    src: url("../Fonts/Brandon Grotesque - Thin Italic.otf");
}
/* Proxima Nova */
@font-face {
    font-family: "Proxima Nova";
    src: url("../Fonts/Proxima Nova.otf");
    src: url("../Fonts/Proxima Nova - Alternate.otf");
}
/* CSS Variables declaration */
:root {
    --BrandonGrotesque: "Brandon Grotesque";
    --ProximaNova: "Proxima Nova";
    --BackgroundColor1: rgb(0, 0, 0);
    --BackgroundColor2: rgb(40, 47, 64);
    --BackgroundColor3: rgb(0, 64, 255);
    --ForegroundColor: rgb(255, 255, 255);
    --TextNeonColor: rgb(0, 255, 255);
    --FormColor1: rgba(0, 0, 0, 0.75);
    --FormColor2: rgba(0, 0, 0, 0.5);
    --GradientColor: rgba(0, 0, 0, 0);
    --Failure: rgb(255, 0, 0);
    --Success: rgb(0, 255, 0);
    --Bold: 700;
    --ExtraBold: 800;
    --Horizontal: 100%;
    --Vertical: 100%;
    --FontSize: 100%;
    --LogoHeight: 41.2px;
    --CanvasHeight: 565px;
    --ParagraphInitialColor: rgba(255, 255, 255, 0.5);
    --SNSLogoHeight: 47.5px;
    --TextAreaHeight: 30px;
    /* Page's styling configurations */
    background-color: var(--BackgroundColor1);
    color: var(--ForegroundColor);
    font-size: var(--FontSize);
    margin: calc(var(--Horizontal) * 0);
    font-family: sans-serif;
}
/* Header */
header {
    display: flex;
    width: var(--Horizontal);
    justify-content: space-evenly;
    margin-bottom: calc(var(--Vertical) * 0.01);
}
/* Logo */
.Logo {
    width: auto;
    height: var(--LogoHeight);
}
/* User Online */
h4,
header a {
    font-size: calc(var(--FontSize) * 1.46);
    font-family: var(--BrandonGrotesque);
    font-weight: var(--ExtraBold);
    color: var(--ForegroundColor);
    text-decoration: none;
    margin: calc(var(--Vertical) * 0);
}
h4 {
    color: var(--Success);
}
header a:hover {
    text-shadow: 0px 0px 8px var(--TextNeonColor);
}
h1 {
    font-family: var(--ProximaNova);
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-bottom: calc(var(--Vertical) * 0.01);
}
/* Posting Form */
.PostingForm {
    background-color: var(--ForegroundColor);
    width: calc(var(--Horizontal) * 0.7);
    margin: calc(var(--Vertical) * 0.01) calc(var(--Horizontal) * 0.1);
    padding: calc(var(--Vertical) * 0.05);
}
/* Guide */
h2 {
    font-family: var(--BrandonGrotesque);
    font-size: calc(var(--FontSize) * 1.8);
    color: var(--FormColor1);
    margin: calc(var(--Vertical) * 0);
    margin-bottom: calc(var(--Vertical) * 0.01);
}
p {
    font-family: var(--BrandonGrotesque);
    font-size: var(--FontSize);
    color: var(--FormColor2);
    margin: calc(var(--Vertical) * 0);
    margin-bottom: calc(var(--Vertical) * 0.01);
    font-weight: var(--ExtraBold);
}
form {
    width: var(--Horizontal);
}
#Image,
#Name,
#Description,
#Link,
#SourceCodeDirectory {
    width: var(--Horizontal);
    margin-bottom: calc(var(--Vertical) * 0.01);
}
#Image {
    z-index: 1;
    margin-left: calc(var(--Horizontal) * 0.38);
    margin-bottom: calc(var(--Vertical) * 0.01);
    width: calc(var(--Horizontal) * 0.14);
}
#ImageButton {
    position: absolute;
    left: calc(var(--Horizontal) * 0.42);
    top: calc(var(--Vertical) * 0.44);
    opacity: 0;
}
#Image,
#Post {
    font-family: var(--ProximaNova);
    background-color: var(--BackgroundColor1);
    color: var(--ForegroundColor);
    font-size: calc(var(--FontSize) * 1.33);
    padding: calc(var(--Vertical) * 0.01) calc(var(--Horizontal) * 0.05);
    border: none;
}
#Image:hover,
#Post:hover {
    background-color: var(--ForegroundColor);
    color: var(--BackgroundColor1);
}
#Post {
    margin-left: calc(var(--Horizontal) * 0.43);
}
/* Messages */
.Success {
    font-size: calc(var(--FontSize) * 2);
    color: var(--Success);
    text-align: center;
    text-transform: none;
}
.Failure {
    font-size: calc(var(--FontSize) * 2);
    color: var(--Failure);
    text-align: center;
    text-transform: none;
}
/* Media Queries to fit  on a screen of a smartphone on potrait mode */
@media screen and (max-width: 360px) {
}
